<div class="container">
  <div class="notelist">
    <header>
      <p>Note</p>
      <button class="add" (click)="startEnter()">+</button>
    </header>
    <ul class="notes" *ngFor="let note of noteService.notelist$ | async">
      <li>
        <p (click)="displayNote(note.title)" class="noteTitle">{{ note.title }}</p>
        <button (click)="deleteNote(note.title)" class="deletebtn">Delete</button>
      </li>
    </ul>
  </div>

  <form>
    <div class="noteform"  [formGroup]="noteForm" (ngSubmit)="onSubmit()">
      <input
        type="text"
          id="title"
          name="title"
          class="title-input"
          placeholder="Enter Title"
          (ngModelChange)="enableBtn()"
          formControlName="title"
          #title
        />

        <input 
          type="text" 
          id="content" 
          name="content" 
          class="content-input"
          formControlName="content"
          (ngModelChange)="enableBtn()"
          #content
        />
       
        <div class="btn-area">
          <button id="revert" [disabled]="isDisable" (click)="revert()">Revert</button>
          <button id="save" type="button" (click)="onSubmit()" [disabled]="isDisable">Save</button>
        </div>
       
    </div>
  </form>

  <!-- <div class="noteform">
    <input
      type="text"
        id="title"
        name="title"
        class="title-input"
        placeholder="Enter Title"
        formControlName="title"
        #title
      />

      <input 
        type="text" 
        id="content" 
        name="content" 
        class="content-input"
        formControlName="content"
        #content
      />
      <div class="btn-area">
        <button id="revert">Revert</button>
        <button id="save">Save</button>
      </div>
     
  </div> -->
</div>